/.terraform
/.terraform.lock.hcl
/.vscode
/terraform.tfstate
/terraform.tfstate.backup
*.env
/modules/secrets/*.json
/.DS_store


services/signup/node_modules/
services/signup/dist/
services/signup/.env
services/signup/.npm
services/signup/external_development.env
services/signup/src/configs/ENVs/envMock.ts

services/auth/node_modules/
services/auth/dist/
services/auth/.env
services/auth/.npm
services/auth/external_development.env
services/auth/src/configs/ENVs/envMock.ts

services/consultant/node_modules/
services/consultant/dist/
services/consultant/.env
services/consultant/.npm
services/consultant/external_development.env
services/consultant/src/configs/ENVs/envMock.ts

services/ava/node_modules/
services/ava/dist/
services/ava/.env
services/ava/.npm
services/ava/external_development.env
services/ava/src/configs/ENVs/envMock.ts

services/search/node_modules/
services/search/dist/
services/search/.env
services/search/.npm
services/search/external_development.env
services/search/src/configs/ENVs/envMock.ts

services/booking/node_modules/
services/booking/dist/
services/booking/.env
services/booking/.npm
services/booking/external_development.env
services/booking/src/configs/ENVs/envMock.ts

services/chat/node_modules/
services/chat/dist/
services/chat/.env
services/chat/.npm
services/chat/external_development.env
services/chat/src/configs/ENVs/envMock.ts

services/notify/node_modules/
services/notify/dist/
services/notify/.env
services/notify/.npm
services/notify/external_development.env
services/notify/src/configs/ENVs/envMock.ts

services/call/node_modules/
services/call/dist/
services/call/.env
services/call/.npm
services/call/external_development.env
services/call/src/configs/ENVs/envMock.ts

services/payment/node_modules/
services/payment/dist/
services/payment/.env
services/payment/.npm
services/payment/external_development.env
services/payment/src/configs/ENVs/envMock.ts

services/review/node_modules/
services/review/dist/
services/review/.env
services/review/.npm
services/review/external_development.env
services/review/src/configs/ENVs/envMock.ts

services/send/node_modules/
services/send/dist/
services/send/.env
services/send/.npm
services/send/external_development.env
services/send/src/configs/ENVs/envMock.ts

services/socket/node_modules/
services/socket/dist/
services/socket/.env
services/socket/.npm
services/socket/external_development.env
services/socket/src/configs/ENVs/envMock.ts

packages/common/node_modules/
packages/common/dist/

packages/events/node_modules/
packages/events/dist/


